services:
  - type: web
    name: mt-coffee-app
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    disk:
      name: data
      mountPath: /opt/render/project/src/data
      sizeGB: 1
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: PORT
        value: 10000
